
/* Sección 6 */
.ingreso-minimo-vital
{
	background-image: url("../img/ingreso-minimo-vital-fondo.png");
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-size: cover;
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button
{
	background-color: transparent;
	color: #ffffff;
	padding: 10px 30px;
	border: 2px solid #ffffff;
}

.button:hover
{
	background-color: #000000;
	border: 2px solid #000000;
}

footer
{
	height: 500px;
	display: flex;
	flex-direction: column;
}

.pie-1
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.pie-1-3
{
	width: 33%;
	position: relative;
	padding: 25px;
}

@media (max-width: 750px)
{
	.pie-1-3
	{
		flex: 100%;
	}

	.pie-2-3
	{
		flex: 100%;
	}
}

.pie-2
{
	display: flex;
	flex-wrap: wrap;
	background-color: #eeeeee;
}

.pie-2-3
{
	position: relative;
	padding: 5px;
	display: flex;
}

.pie-2-3 ul li img
{
	float: left;
	width: 26px;
	height: 26px;
	position: absolute;
}

.pie-2-3 ul li h3
{
	position: relative;
	color: #dd0000;
	left: 50px;
}

.left
{
	position: relative;
	padding: 25px;
	width: 20%;
}

.middle
{
	width: 60%;
}

.right
{
	width: 20%;
}

.pie-2-3-3
{
	width: 33%;
	padding: 25px;
	flex-wrap: wrap;
	justify-content: up;
}

ul
{
	list-style-type: none;
}

.pie-2-3-3 h3
{
	color: #dd0000;
}

.pie-3
{
	height: 100px;
	width: 100%;
	background-color: #eeeeee;
}