* {margin: 0; padding: 0;box-sizing: border-box;}
header{font-family: "MontserratBold", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.nav {display: flex;justify-content: flex-end; overflow: auto; padding: 15px;max-width: 81.5rem; margin: auto; width: 100%; border-bottom: 1px rgb(234, 229, 229) solid;}
.nav-link {color: black;text-decoration: none; font-size: 15px;}
.nav-menu {display: flex;margin-right: 40px;list-style: none;}
.nav-menu-item {font-size: 0.8rem; margin: 0 10px; width: max-content;}
.nav-menu-item img{height: 14px;}

/* .nav-menu-link {padding: 8px 12px;border-radius: 3px;} */

/* boton del menu */


.nav-dos {display: flex;justify-content: space-between;max-width: 81.5rem;margin: 0 auto; align-items: center;border-bottom: 1px rgb(234, 229, 229) solid; padding: 0px 1rem 0px 1rem;}
.cc{display: flex; align-items: center;}
.nav-link-dos {color: black;text-decoration: none;}
.logo img{height: 50px;}
.nav-menu-dos {display: flex;list-style: none; font-weight: bolder;}
.nav-menu-item-dos {font-size: 18px;width: max-content; padding: 1.5rem;}
/* .nav-menu-link {padding: 8px 12px;border-radius: 3px;} */
.cont-logo{display: flex; justify-content: end;}

.nav-item-dos {color: black;text-decoration: none;}
.nav-menu-tres {display: flex;list-style: none; float: right; gap: 10px; align-items: center;}

.btn-uno{background-color: white; border-radius: 0px; padding: 0.75rem 1.3rem; border: 0px;}
.btn-dos{background-color: white; border: 1px rgb(226,6,19) solid; color: rgb(226,6,19); border-radius: 0px; font-size: 1rem;text-transform: uppercase; padding: 0.75rem 1.3rem;}
.btn-tres{background-color: rgb(226,6,19); border: 1px rgb(226,6,19); color: white; border-radius: 0px; font-size: 1rem;text-transform: uppercase; padding: 0.75rem 1.3rem;}




/* boton del menu */
.nav-toggle {color: black;background: none;border: none;padding: 0 20px;line-height: 60px;cursor: pointer;display: none;}
.nav-toggle img{height: 30px;}

  
/* MOBILE */

@media (max-width: 1200px) {

  /* .header {height: 80px;} */
  /* .logo {font-size: 30px;font-weight: bold;padding: 0 40px;line-height: 80px;} */
  .nav-menu-dos {
	flex-direction: column;
	align-items: center;
	background-color: #2c3e50;
	position: fixed;
	top: 100px;
	width: 100%;
	height: 100%;
	left: 100%;
	transition: left 0.3s;
  }
  .nav-menu-tres {	flex-direction: column;
	align-items: center;list-style: none; float: right; gap: 10px; position: fixed;	 top: 80px;
	width: 100%;
	height: 100%;
	left: 100%;}
  /* .nav-menu-item {line-height: 70px;} */
  .nav-toggle {display: block;}
  .nav-toggle img{display: block; align-items: center;}

  .nav-menu_visible {left: 0;}
  /* .nav-toggle:focus:not(:focus-visible) {outline: none;} */
}

.redes{position: fixed; background-color: black; top: 30%; color: white; font-size: 14px; margin: auto; text-align: center; width: 3.5rem; left: 0px; padding: 0.75rem 0.0625rem 0rem 0.125rem; z-index: 99;}
.redes-lista{color: white; margin: 10px; list-style: none;}
.icon-red img{height: 25px; margin-bottom: 10px;}

.nav-interior-uno{
	display:none;
}  
.nav-interior-uno li{
		display: flex;
		
		} 

.nav-interior-uno li a{
	text-decoration: none;
}          
	
.nav-menu-item-dos:hover .nav-interior-uno{
		display:flex;
		padding: 40px;
		position: absolute;
		background-color: white;
		height: 100px;
		z-index: 100;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

.menu1 {
	width: 100%;
	height: 80px;
  }
  
  /* sección 2 */
  
  .seccion1 {
	height: 800px;
	width: 100%;
  }
  
  /* parte principal nombre/foto/precio*/
  .producto {
	height: 33rem;
	width: 100%;
	position: relative;
	padding-bottom: 50px;
	justify-content: center;
	/* align-items: center; */
	gap: 100px;
	flex-wrap: wrap;
	
  }
  
  
  /*contenedor de las flechas y la galería*/
  .contenedor1 {
	position: relative;
	padding-bottom: 25px;
	padding-top: 25px;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;


  }
  .mySlides {
	display: none;
  }
  .mySlides img{

	width: 100%;
	height: 33rem;
	object-fit: cover;

  }
  
  /*flechas*/
  .flechaI {
	position: absolute;
	width: 40px;
	height: 40px;
	transform: rotate(-45deg); /*importante para que esté girado el cuadrado*/
  }
  
  .flechaI::before {
	content: "";
	width: 100%;
	height: 100%;
	border-width: 5px 0 0px 5px; /*con esto elegimos la dirección de la flecha*/
	border-style: solid;
	border-color: black;
	position: absolute;
	gap: 100px;
  }
  .flechaD {
	position: absolute;
	width: 40px;
	height: 40px;
	transform: rotate(-45deg); /*importante para que esté girado el cuadrado*/
  }
  
  .flechaD::before {
	content: "";
	width: 100%;
	height: 100%;
	border-width: 0 5px 5px 0;
	border-style: solid;
	border-color: black;
	position: absolute;
	gap: 100px;
  }
  
  /* puntos de las imágenes */
  .puntos {
	content: "";
	background: red;
	border: solid;
	border: 0px;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	transition: background-color 0.6s ease;
  }
  .boton11 {
	background: white;
	border: none;
	font-size: 60px;
  }
  .active,
  .puntos:hover {
	background-color: black;
  }


/* Sección 6 */
.ingreso-minimo-vital
{
	background-image: url("./img/ingreso-minimo-vital")
}

/*Formulario de donacion mensual*/
.img-backgaund{background-image: url(./../img/corona600x300.jpg); background-repeat: no-repeat; background-size: cover;}
.main-cont{
    max-width: calc(73.125rem + 1.875rem);
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}
.form-cont{    width: 100%;
    max-width: 29.375rem;
    background: white;}
.titulo{
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 1.5625rem 2.75rem 0.625rem 2.75rem;
}
.titulo .precio{color: red;}

.form{
    padding: 20px;}
.form div{ display: flex;}


.btn{
    border: 0.0625rem solid #e20613;
    color: white;
    background: #e20613;
    border-radius: 1.25rem;
    padding: 0.5rem 1.25rem;
    margin: 1rem auto;
}
.campo{
    margin: 20px 5px;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid lightgray;
    color: #818a91;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: white;
    box-shadow: 0 0 0.625rem 0 rgb(0 44 88 / 10%);
    width: 100%;
    padding: 0.625rem;
    margin-top: 0;
}

.checkbox{
    background-color: #FFF;
    border: 0px solid #999;
    border-radius: 0px;
}
.txt{padding: 0px 10px;}

.submit-btn {border: 0.0625rem solid lightgray;
    color: white;
    background: lightgray;
    height: 4rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 100%;
}